*{
    color: #d8d9da;
}

body{
    margin: auto;
    background-color: #161719;
    max-width: 1000px;
}

.header{
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-image-source: linear-gradient(90deg,#f05a28 30%,#fbca0a 99%);
    border-image-slice: 1;
}