*{
    color: #d8d9da;
}

body{
    margin: auto;
    background-color: #161719;
    max-width: 1000px;
}

.header{
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #282828;
}